@import '../../styles/variables';

.menu {
  display: flex;
  align-items: center;
  padding-right: 10px;
  align-self: flex-end;
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 1;
}

nav a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

.hamburger {
  &:hover {
    cursor: pointer;
  }
}

.links {
  display: none;
  margin: 0 0 0 20px;

  &.selected {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 2px;
    right: 10px;
    background-image: radial-gradient(
      circle,
      rgba(32, 28, 28, 0.95) 0%,
      rgba(16, 23, 25, 0.85) 50%,
      rgba(0, 0, 0, 0.65) 100%
    );
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  & a {
    padding: 20px;
    color: white;
  }
}

.bar1,
.bar2,
.bar3 {
  background-color: #333;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  transition: 0.2s;
}

.selected {
  transition: 0.4s;

  div {
    background-color: white;
  }

  .bar1 {
    transform: translateY(11px) rotate(45deg);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: translateY(-11px) rotate(-45deg);
  }
}

@media #{$media-desktop-only} {
  .hamburger {
    display: none;
  }

  .links {
    display: block;
    margin: 0;
  }

  .menu {
    align-self: center;
  }
}
