@import '../../styles/variables';

$selected-link-background-color: #e91e63;

.menu {
  display: flex;
  align-items: center;
  z-index: 1;
  order: 2;
  margin-right: 10px;
}

nav a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

.hamburger {
  &:hover {
    cursor: pointer;
  }
}

.links {
  display: none;
  margin: 0 0 0 20px;

  &.selected {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: -2px;
    right: -1px;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 33vh;
    justify-content: center;
    align-items: center;
  }

  & a {
    padding: 20px;
    color: white;
  }
}

.bar1,
.bar2,
.bar3 {
  background-color: #333;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  transition: 0.2s;
}

.selected {
  transition: 0.4s;

  div {
    background-color: white;
  }

  .bar1 {
    transform: translateY(11px) rotate(45deg);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: translateY(-11px) rotate(-45deg);
  }
}

@media #{$media-desktop-only} {
  .hamburger {
    display: none;
  }

  .links {
    display: block;
    margin: 0;

    & a {
      color: white;

      &:hover {
        background-color: $selected-link-background-color;
      }

      & .selected {
        background-color: $selected-link-background-color;
      }
    }
  }

  .menu {
    align-self: center;
    background-image: $title-background-image;
    height: 100%;
    border-left: 10px solid #ffeb3b;
  }
}
