@import './reset';

html,
body,
#root {
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.main {
  height: 75vh;
}

.suspense-fallback {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  font-size: 3rem;
}

.no-result {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 3rem;
}
