@import './reset';

html,
body,
#root {
  height: 100vh;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.main {
  height: 75vh;
}

.suspense-fallback {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  font-size: 3rem;
}

.image {
  position: relative;
  border: 0.1px solid rgba(0, 0, 0, 0.2);

  & img {
    padding-top: 3.3rem;
  }

  & .title {
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 22px;
  }

  & .overlay {
    display: none;
    position: relative;

    & .tags {
      position: absolute;
      padding: 0 2rem 0;
    }

    &.hover {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      height: 50%;
      width: 100%;

      position: absolute;
      text-align: center;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.66);
      color: white;
    }
  }
}

.no-result {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 3rem;
}
