@import '../../styles/variables';

.search {
  height: 25vh;
  background: linear-gradient(
      rgba(218, 172, 24, 0.29),
      rgba(81, 177, 150, 0.95)
    ),
    url('../../../public/images/svg/user_flow_vr6w.svg');

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  & header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  & h1 {
    font-family: 'Lily Script One', cursive;
    font-weight: normal;

    font-size: 3rem;
    color: #21061199;
    word-spacing: 1.5rem;
    letter-spacing: 0.5rem;

    color: white;
    background-image: $title-background-image;
    padding: 10px 15px 0 15px;
    border-bottom: 10px solid black;
  }

  & input[type='text'] {
    width: 65vw;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
  }

  @media #{$media-small} {
    & header {
      justify-content: space-between;
    }
    & h1 {
      font-size: 1.8rem;
      word-spacing: 0rem;
      letter-spacing: 0.3rem;

      margin-left: 10px;
    }
    & input[type='text'] {
      width: 97vw;
    }
  }

  @media #{$media-medium} {
    & header {
      justify-content: space-between;
    }
    & h1 {
      font-size: 2rem;
      word-spacing: 0.5rem;
      letter-spacing: 0.3rem;

      margin-left: 10px;
    }
    & input[type='text'] {
      width: 95vw;
    }
  }
}
