@import '../../styles/variables';

.search {
  height: 25vh;
  background: linear-gradient(
      rgba(218, 172, 24, 0.29),
      rgba(81, 177, 150, 0.95)
    ),
    url('../../../public/images/svg/user_flow_vr6w.svg');

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  & h1 {
    font-family: 'Dosis', Lato, 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
      Sans-Serif;

    font-size: 3rem;
    color: #21061199;
    word-spacing: 1.5rem;
    letter-spacing: 0.5rem;

    color: white;
    background: radial-gradient(
      circle,
      rgba(32, 28, 28, 0.65) 0%,
      rgba(16, 23, 25, 0.55) 50%,
      rgba(0, 0, 0, 0.55) 100%
    );
    padding: 10px 15px 0 15px;
  }

  & input[type='text'] {
    width: 45vw;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
  }

  @media #{$media-small} {
    & h1 {
      font-size: 2rem;
      word-spacing: 0rem;
      letter-spacing: 0.3rem;
    }
    & input[type='text'] {
      width: 75vw;
    }
  }

  @media #{$media-medium} {
    & h1 {
      font-size: 2.5rem;
      word-spacing: 0.5rem;
      letter-spacing: 0.3rem;
    }
    & input[type='text'] {
      width: 75vw;
    }
  }
}
