@import './reset';

html,
body,
#root {
  height: 100vh;
  /* overflow-x: auto; */
}

.Grid {
  /* border: 1px solid #d9dddd; */
}

.GridItemEven,
.GridItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GridItemEven {
  background-color: #f8f8f0;
}

.search {
  background-color: antiquewhite;
  height: 25vh;

  &.title {
    font-size: 3rem;
  }
}

main {
  height: 75vh;
}
