@import './reset';

html,
body,
#root {
  height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

main {
  height: 75vh;
}

.image {
  position: relative;

  & .overlay {
    display: none;

    &.hover {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      position: absolute;

      bottom: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
  }
}

.no-result {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 3rem;
}

.search {
  background-color: antiquewhite;
  height: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h1 {
    margin-bottom: 2rem;
  }

  & input[type='text'] {
    width: 45vw;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
  }

  &.title {
    font-size: 3rem;
  }
}
